<configuration scan="false" debug="false">
    <appender name="FILE" class="ch.qos.logback.core.FileAppender">
        <file>dcc.log</file>
        <append>false</append>
        <encoder>
            <pattern>%date{MM/dd HH:mm:ss} %-5level[%thread] %logger{1} - %msg%n</pattern>
        </encoder>
    </appender>
    <root level="TRACE">
        <appender-ref ref="FILE" />
    </root>
</configuration>
