<configuration scan="true" debug="false">

    <appender name="STDALL" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>[%4p] [%d{HH:mm:ss}]: %m%n</pattern>
        </encoder>
    </appender>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>TRACE</level>
        </filter>
        <encoder>
            <pattern>[%4p] [%d{HH:mm:ss}]: %m%n</pattern>
        </encoder>
    </appender>

    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <File>dsl-compiler-client.log</File>
        <encoder>
            <pattern>[%d{HH:mm:ss}] [%4p] [%t]: %m%n</pattern>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>dsl-compiler-client-%d{yyyy-MM-dd-HH}.log</fileNamePattern>
        </rollingPolicy>
    </appender>

    <root level="TRACE">
        <appender-ref ref="STDALL" />
        <appender-ref ref="FILE"/>
    </root>

</configuration>
